@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

html{
    font-size: 10px;
}

body{
    background: linear-gradient(112.23deg, #3E718E 0%, #64969B 100%);
    font-family: 'Space Grotesk', sans-serif;
    
}

.modal{
    position: absolute;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    top: 25vh;
    left: 30vw;
}

.modal-kreativ{
    background: white;
    font-weight: 700;  
}

.kreativ-label{
    box-sizing: border-box;
    padding: 1rem 2rem;
    font-size: 2.4rem;
    background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.kreativ-title{
    font-size: 2rem;
    text-align: center;
    margin-top: 4rem;

}

.modal-creativ-form{
    padding: 0 7rem;
    font-size: 1.4rem;
    font-weight: 400;

}

.creativ-text{
    margin-top: .5rem    ;
}


.min-text{
    font-size: 1rem;
    color: #A8A8A8;
}

.modal-kreativ-button{
    background-color: #284A5E;
    color: white;
    font-weight: 700;
    font-size: 1.4rem;
    margin: 0 auto;
    text-align: center; 
    width: 60%;
    margin-top: 7rem;
    padding: .5rem;
}

.modal-kreativ-Login{
    font-size: 1.4rem;
    color: #C4C4C4;
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 3rem;

}

.modal-kreativ>.modal-kreativ-Login>.login-color{
    color: #476D73;
    text-decoration: underline;
    
}


p{
    margin: 0;
    
}

.title{
    background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
    box-shadow: 0px 0px 10px 9px #4E7577;
    color: white;
    max-width: 440px;
}

a{
    text-decoration: none;
    color: white;
}

.menu{
    text-align: right;
    padding-top: 1rem;
}

li{
    display: inline;
    margin: 1rem;
    

}

.title_text{
    font-size: 4.8rem;
    text-shadow: 2px 2px rgba(0, 0, 0, .1) ;
    
    
}

.title_autor{
    font-size: 1.6rem;
    
}

.text{
   
    margin: 70px

}