body{
    margin: 0;
}

.conteiner-black-box{
    background-color: black;
    width: 512px;
    height: 512px;
    text-align: center;
    box-sizing: border-box;
}

.diy{
    padding-top: 120px;
}
.flag{
    padding-top: 30px;
}

.conteiner-flag{
    background-image: url(../img/Square.png);
    width: 512px;
    height: 512px;
    box-sizing: border-box;
    background-size: cover;

}

.zigzag{
    padding-top: 144px;
    padding-left: 54px;
}

.circle{
    border-radius: 50%;
    padding-top: 120px;
}