@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:wght@400;500;600&family=Roboto&display=swap");

body {
  max-width: 1400px;
  font-size: 10px;
  margin: 0 auto;
  padding: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  
}

header {
  display: flex;
  color: #ffffff;
  background: black;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

.header__logo {
  font-weight: 500;
  font-size: 2.6rem;
  padding-left: 10%;
  padding-top: 1rem;
}

.header__menu {
  padding-right: 10%;
}

.menu {
  display: flex;
}

.menu li {
  list-style: none;
  padding-left: 1rem;
  font-weight: 500;
  font-size: 1.1rem;
}
.menu a:hover {
  color: #f6ad09;
}

.title {
  display: flex;
  position: relative;
  background-color: black;
  margin: 0 auto;
}
.title__left {
  max-width: 35%;
  padding-left: 10%;
}
.title__left-h1,
.title-h1 {
  color: white;
  padding-top: 10rem;
}

.title-h1 {
  font-weight: 600;
  font-size: 3.4rem;
}
.dot {
  color: #f6ad09;
}
.title__left-text {
  font-weight: 400;
  font-size: 24px;
  color: #b2b2b2;
  padding-top: 2rem;
}
.left-text {
  font-weight: 400;
  font-size: 24px;
  color: #b2b2b2;
}
.titlt-btn {
  font-weight: 600;
  font-size: 1.5rem;
  background: #f6ad09;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 6rem;
}

button a {
  color: black;
}

.title__rigth {
  position: absolute;
  left: 50%;
}

.escolha {
  background: #ffffff;
}

.escolha__title {
  color: black;
  padding-left: 10%;
  padding-bottom: 2rem;
}

.escolha__cards {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 25%;
  padding-bottom: 10rem;
}

.card__list {
  font-weight: 600;
  font-size: 1.5rem;
}

.card__list:before {
  display: inline-block;
  margin: 5px 7px 5px 0;
  content: "";
  width: 16px;
  height: 7px;
  padding-bottom: 2px;
  background-color: #f6ad09;
}

.card__bay {
  font-weight: 500;
  font-size: 18px;
  color: #595959;
  padding-left: 1.5rem;
}

.tecno {
  display: flex;
  background: #111111;
  position: relative;
  font-family: "Roboto";
}

.tecno__left {
  width: 33%;
  padding: 0 10%;
}
.tecno__left-title {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  color: #b2b2b2;
  padding-top: 3rem;
}

p {
  color: #b2b2b2;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
}
.tecno__left-h1 {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.tecno__link {
  padding-bottom: 3rem;
}
.tecno__link a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  color: #ffbb00;
  border-bottom: 4px solid #f6ad09;
}
.tecno__left-model {
  display: flex;
}
.model {
  padding: 1rem;
}
.model-type {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
}
.model-type::before {
  display: inline-block;
  margin: 5px 7px 5px 0;
  content: "";
  width: 16px;
  height: 7px;
  padding-bottom: 2px;
  background-color: #f6ad09;
}

.model-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7rem;
  color: #b2b2b2;
  padding-bottom: 3rem;
}
.tecno__rigth {
  position: absolute;
  left: 45%;
  top: -8%;
}

.firms {
  margin-bottom: 5rem;
  
}

.firms__title {
  color: #111111;
  padding-left: 10%;
  padding-bottom: 3rem;
}

.firms__card {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.firm_img{
  margin-left: 1rem;
}

.review {
  display: flex;
}

.review_img {
  min-width: 50%;
  background-image: url(../img/depoimento.png);
  background-repeat: no-repeat;
}

.review_title {
  box-sizing: border-box;
  background: #ffbb00;
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 900;
  font-size: 2rem;
  width: 50%;
  color: #332200;
  padding: 20rem 7rem 5rem 5rem;
  position: relative;
}
.review_title_text::before{
  content: url(../img/k1.png);
  position: absolute;
  left: 35px;
  top: 300px;
}

.review_title_text::after{
  position: absolute;
  content: url(../img/k2.png);
  padding-top: 20px;
}
.rev {
  color: #cfa01f;
}
.review_autor {
  color: #664400;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.seguros {
  background: #161616;
  padding-bottom: 10rem;
  height: 40rem;
}
.seguros__title {
  color: #ffffff;
  padding-left: 10%;
  padding-bottom: 5rem;
}

.seguros__card {
  display: flex;
  justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  color: #9c9c9c;
  
}

.cadr__prata {
  background: black;
  border-radius: 7px;
  display: flex;
  box-sizing: border-box;
  padding: 2rem 2rem 0 2rem;
  width: 450px;
  height: 330px;
  
}

.cadr__prata:hover .card-title {
  color: #f6ad09;

}

.cadr__prata:hover{
  width: 500px;
  height: 380px;
  padding: 4rem 4rem 0 4rem;
}

.card-title {
  font-size: 2.5rem;
  color: #9c9c9c;
}

.cadr__prata button {
  margin-top: 5rem;
  margin-bottom: 0;
}
.card-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
}
.card-text::before {
  display: inline-block;
  margin: 5px 5px 3px 0;
  content: "";
  width: 10px;
  height: 3px;
  padding-bottom: 2px;
  background-color: #f6ad09;
}

.card-btn {
  background: #2e2e2e;
  border-radius: 5px;
  border-color: #2e2e2e;
  color: #cccccc;
  font-weight: 600;
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.card-btn:hover {
  color: #cfa01f;
}
.seguros__card-rigth {
  padding-left: 2rem;
}
.card-bay {
  font-size: 2.5rem;
  color: #ffffff;
}

.card__ouro {
  background: black;
  border-radius: 7px;
  display: flex;
  width: 450px;
  height: 330px;
  padding: 2rem 2rem 0 2rem;
  box-sizing: border-box;
  margin-left: 3%;
  
}

.card__ouro:hover .card-title {
  color: #f6ad09;
}

.card__ouro:hover{
  width: 500px;
  height: 380px;
  padding: 4rem 4rem 0 4rem;
}

.card-bay-text {
  font-weight: 600;
  font-size: 12px;
  color: #9c9c9c;
}

.footer {
  background: black;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  display: flex;
  justify-content: space-around;
  padding-top: 5rem;
}
.footer__logo {
  font-family: "Poppins";
  font-style: normal;

  font-weight: 500;
  font-size: 2.6rem;

  color: white;
}
.footer__contact {
  color: #b2b2b2;
  font-size: 1rem;
}
.contato {
  font-size: 2rem;
  text-transform: uppercase;

  color: #ffffff;
  padding-bottom: 2rem;
}
.footer__contact a {
  color: #b2b2b2;
}

.email {
  padding-bottom: 1.5rem;
}

.contact_social {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
}

.footer__menu ul {
  padding-inline-start: 0;
  line-height: 1.5rem;
}
.footer__menu a {
  color: #b2b2b2;
  font-size: 1rem;
  list-style: none;
}

.footer__menu a:hover {
  color: #f6ad09;
}
.footer__menu-title {
  padding-bottom: 2rem;
  color: #ffffff;
  font-size: 2rem;
  text-transform: uppercase;
}

.copiring {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  background-color: black;
  color: #9c9c9c;
  padding: 3rem 0;
  padding-left: 10%;
}
