body{
    margin: 0;
}

.wrapper{
    display: flex;
    font-size: 20px;
    font-weight: bold;
}
.selector{
    width: 50%;
height: 100vh;
background-color: burlywood;
font-size: 20px;

}
.teg{
    width: 50%;
    height: 100vh;
border: 1px solid black;
background-color: gray;
}