.header{
    width: 800px;
    height: 200px;
    box-sizing: border-box;
    border: 3px solid red;
    font-size: 40px;
    text-align: center;
    padding-top: 60px;

}

.nav{
    width: 100px;
    height: 400px;
    box-sizing: border-box;
    border: 3px solid red;
    font-size: 20px;
    text-align: center;
    padding-top: 170px;

}

.section{
    width: 700px;
    height: 400px;
    box-sizing: border-box;
    border: 3px solid red;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;

}


.flex{
    display: flex;
}

.footer{
    width: 800px;
    height: 200px;
    box-sizing: border-box;
    border: 3px solid red;
    font-size: 40px;
    text-align: center;
    padding-top: 60px;
}