.tel{
    background-color: green;
}

#root{
    width: 300px;
    height: 100px;
    padding: 2rem;
    font-weight: bold;
}

button{
    font-weight: bold;
}
.error{
    
    width: 300px;
    height: 30px;
   
    font-weight: bold;
}