body{
    padding: 0;
    
}

.flex {
    display: flex;
    width: 80vw;
    margin: 10px auto;

}
.name {
    font-size: 20px;
    border: 1px solid black;
    width: 30vw;
    padding: 10px;
    background-color: coral;
    border-radius: 20px 0 0 20px ;

    
}

p{
    font-weight: 600;
}
.body {
    border: 1px solid black;
    width: 50vw;
    padding: 10px;
    background-color: cadetblue;
    border-radius: 0 20px 20px 0;
}