input {
  width: 30%;
  padding: 1rem;
}
.red {
  border: solid 2px red;
  outline: 0;
  color: red;
}

.green {
  border: solid 2px green;
  outline: 0;
  color: green;
}

button {
  padding: 5px;
  margin-top: 10px;
}

.close {
  padding: 10px;
  width: 200px;
}
.operator {
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  outline: 0;
}

.kievstar {
  background-image: url(../img/kievstar.png);
}
.vodafone {
  background-image: url(../img/vodafone.png);
}

.life {
  background-image: url(../img/life.png);
}
