body{
    width: 1024px;
}

.main-text{
    margin: 0;
    padding: 18px;
    font-size: 20px;
    font-weight: bold;
}
.img-text{
    margin: 0;
    font-size: 14px;
}

.left{
    text-align: left;
}

.rigth{
    text-align: right;
}

.center{
    text-align: center;
}

