/* font-family: 'Inika', serif;
font-family: 'M PLUS 1', sans-serif;
font-family: 'Marcellus SC', serif; */

body{
    font-family: 'Inika', serif;
    margin: 0;
}

.header{
    font-family: 'M PLUS 1', sans-serif;
    height: 110px;
    padding: 20px 0;
    color: #3E45E8;
    text-align: center;
    font-size: 48px;
    box-sizing: border-box;
}

.header-span{
    color: #E8C23E;
}

.banner{
    height: 803px;
    background-image: url(../img/image1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 80px;
    padding-top: 200px;
    box-sizing: border-box;
}

.content{
    background-image: url(../img/flag.png);
    background-repeat: no-repeat;
    height: 272px;
    font-size: 48px;
    font-weight: 700;
    color: white;
    width: 70%;
    padding-left: 40px;    
}

.h1{
    margin: 70px;
    font-size: 40px;
    font-weight: 700;    
}

.line{
  border: 5px solid #3E45E8;
  width: 402px;
  margin-top: 25px;
}

.main{
    padding: 0 80px;
}

.card{
    vertical-align: top;
    width: 30%;
    height: 420px;
    display: inline-block;
    border-radius: 37px;
    overflow: hidden;
    box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, .5);
}

.card-title{
    color: #1E8DF2;
    font-size: 24px;
    font-weight: 700;
    padding-left: 10px;
    box-sizing: border-box;
}

.card-text{
    color: #E8C23E;
    font-size: 20px;
    font-weight:400;
    padding: 10px;
    box-sizing: border-box;
    
}

.card-images{
    width: 100%;
}

.margin-card{
    margin: 0 4.5%;
}

.h2{    
    margin: 70px;
    font-size: 40px;
    font-weight: 700;    
}

.center{
    text-align: center;    
}

.line-center{
    text-align: center;
    margin: 0 auto;
    border: 5px solid #3E45E8;
    width: 402px;
    margin-top: 25px;
}

.botton{    
    width: 591px;
    height: 121px;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    background-color: #2A61F0;
    color: #FFFFFF;
    box-sizing: border-box;
    margin: 20px auto;
    padding: 16px;    
}

.ending{
    height: 320px;
    background-color: #2F4A4B;
    margin-top: 20px;
}

a{
    text-decoration: none;
    color: #A89D9D;
 }
.contact{
    font-family: 'Marcellus SC', serif;
    font-size: 36px;    
    text-align: center;   
}


