@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@200;400;500;600;700&display=swap");

body {
  margin: 0 auto;
  font-size: 10px;
  max-width: 1500px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
}

header {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.h1 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 4.5rem;
  margin-bottom: 0;
}

.h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  padding-top: 2rem;
}
.h1_blue {
  color: #001f3d;
}

.grey {
  background-color: #f1f1f1;
}

.bag {
  background-color: #a04955;
  height: 2rem;
  padding: 0 2rem;
  border: solid 1px #a04955;

  border-radius: 30%/80%;

  margin: auto 2rem;
}
.bag img {
  padding-top: 0.2rem;
}

.card_text {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 1rem;
}

.button {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  padding: 1rem;
  font-size: 2rem;
  background-color: white;
}

.button_red {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  padding: 1rem;
  font-size: 2rem;
  background-color: #a04955;
  color: white;
  border: none;
}
.button_red:hover {
  color: black;
  cursor: pointer;
}

.button:hover {
  background-color: #a04955;
  color: white;
  cursor: pointer;
}

.card_button {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  background-color: #a04955;
  color: white;
  padding: 0.5rem;
  width: 70%;
}

.home {
  z-index: 10;
  position: fixed;
  bottom: 5rem;
  right: 3rem;
  background-color: #a04955;
  border-radius: 50%;
  padding: 1rem 1.5rem;
}

header a {
  text-decoration: none;
  color: #333333;
}
.search {
  display: flex;
  height: 2rem;
  width: 15rem;
  border: solid 1px #a04955;
  outline: 0;
  border-radius: 10%/80%;
  padding-left: 2rem;
  margin: auto;
}

.search input,
.img-input {
  height: 1.5rem;
  margin: auto 0;
  border: none;
}
.search-input {
  width: 12rem;
}

nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  padding-right: 2rem;
}

a:hover {
  color: #a04955;
}

nav {
  display: flex;
}
nav input {
  font-size: 1rem;
}

.best_selling {
  display: flex;
}

.sale {
  background: #f1f1f1;
  text-align: center;
  margin-top: 3rem;
  width: 100%;
  color: black;
}
.sale_text1 {
  padding: 3rem 0 1rem 0;
  font-size: 3rem;
  font-weight: 500;
  margin: 0;
}

.sale_text2 {
  margin: 0;
  font-weight: 500;
  padding-bottom: 2rem;
}

.sale_cards {
  margin: 0 auto;
  display: flex;
  padding: 2rem;
}

.sale_cards > div {
  margin: 1rem;
}

.shop_all_pants {
  margin-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
}

.shop_all_pants-text {
  padding: 0 3rem 0 5rem;
}

.ecoths {
  display: flex;
  justify-content: space-around;
  background: #f1f1f1;
  padding-bottom: 5rem;
}
.ecoths_cards {
  text-align: center;
  min-width: 500px;

  width: 40%;
}

.ecoths_cards_img1 {
  background-image: url(../img/03.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  font-weight: 500;
  font-size: 3rem;
}
.ecoths_cards_img-text {
  position: relative;

  bottom: -84%;
  color: white;

  height: 5rem;
  opacity: 0.8;
  background: #a04955;
}
.ecoths_cards_img2 {
  background-image: url(../img/04.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  font-weight: 500;
  font-size: 3rem;
}

.ecoths_cards_text > button {
  background-color: #f1f1f1;
}

.sport {
  background-image: url(../img/05.png);

  background-repeat: no-repeat;
  box-sizing: border-box;
}

.sportif {
  width: 50%;
  padding: 2rem 8rem;
}

.sportif > p {
  color: #ffffff;
  margin: 0;
  padding-bottom: 1rem;
}

.stry {
  background-color: #a04955;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  height: 400px;
}
.stry .h1 {
  color: white;
}

.stry > p {
  padding: 2rem;
}

.stry_cards {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 1.3rem;
}

.stry_card {
  background-color: white;
  border: #a04955 solid 1px;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.stry_card button {
  margin: 0 auto;
  margin-bottom: 2rem;
}
.years {
  background: #e5e5e5;
  width: 80%;
  margin: 0 auto;
  margin-top: 10rem;
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
  margin-bottom: 3rem;
}

.years button {
  background-color: #e5e5e5;
}

.years_img {
  position: relative;
  top: 18rem;
  left: 40%;
  margin: 0;
}

footer {
  background-color: #a04955;
  display: flex;
  justify-content: space-around;
  color: white;
  font-family: Oswald;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 2.5rem;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer ul {
  padding-left: 0;
}

.footer li {
  list-style: none;
  padding-bottom: 1rem;
}

.footer a:hover {
  color: #001f3d;
}

.footer_text {
  font-weight: 600;
}

.sub {
  background-color: white;
  padding: 0.7rem;
  width: 90%;
}

.sub input {
  width: 70%;
  outline: 0;
  border: none;
}

.sub button {
  font-weight: 400;
  padding: 0.5rem 2rem;

  background-color: #a04955;
  color: white;
  border: none;
  cursor: pointer;
}

.sub button:hover {
  color: #001f3d;
}

.footer_sub {
  padding-top: 5rem;
}

.coppiring {
  color: rgba(0, 0, 0, 0.5);
  margin: 1.5rem;
  font-size: 1rem;
}

#product_cards {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.31);
  margin-bottom: 2rem;
  background-color: white;
}

.cardimg {
  width: 80%;
  margin: 2rem;
  cursor: pointer;
}

.names {
  font-size: 1.5rem;
}

.price {
  font-size: 1rem;
}

.basket {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #a04955;
  text-decoration: none;
  color: white;
  border: none;
  text-decoration: none;
}

.basket:hover {
  color: black;
  cursor: pointer;
}

#color {
  padding-bottom: 0.5rem;
}

.page {
  font-size: 1.7rem;
  font-weight: 500;
  margin: 0;
  width: 20%;
}

.page a {
  text-decoration: none;
  color: black;
}

.page a:hover {
  color: #a04955;
}
.search_h1 {
  font-family: "Oswald";
  width: 70%;
  font-style: normal;
  font-weight: 500;
  margin-left: 5rem;
  font-size: 3rem;
  color: #c4c4c4;
  border-bottom: 2px #c4c4c4 solid;
  margin-bottom: 1rem;
}

.filtre {
  min-width: 15rem;
  border: #a04955 solid 1px;
  height: 600px;
  background-color: white;
  padding: 1rem;
}

.sort__menu {
  display: flex;
  justify-content: space-between;
}
.size {
  border-bottom: #a04955 solid 1px;
}
.size_sort {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.color {
  border-bottom: #a04955 solid 1px;
}

.color_card img {
  padding: 0.2rem;
  width: 1rem;
}
.sortament {
 
  font-size: 1.5rem;
  padding: 0.4rem;
  background: #f1f1f1;
  cursor: pointer;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.white {
  background-color: white;
}
.black {
  background-color: black;
}
.blue {
  background-color: blue;
}

.sort_col {
  padding: 0.2rem;
  width: 1.7rem;
  height: 1.7rem;
  border: solid 1px gray;
}

.sort_txt {
  font-size: 1.5rem;
  padding: 1rem;
}
.sort_hide {
  color: #a04955;
}
.color_sort {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#cards_grid {
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  grid-gap: 30px;
  justify-content: space-around;
}

.num {
  display: flex;
  justify-content: flex-end;
  background-color: #f1f1f1;
}

.num_page {
  font-weight: 700;
  font-size: 1rem;
  padding: 1rem;
  border: #a04955 solid 1px;
  background-color: white;
  color: #a04955;
  margin: 1rem 0.5rem;
  text-decoration: none;
  cursor: pointer;
}

.num_page_down {
  background-color: #a04955;
  color: white;
}

#cancel {
  margin: 2rem auto;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: white;
}
#cancel:hover {
  background-color: #a04955;
  color: white;
}

#product_cards {
  justify-content: space-between;
}

.down {
  background-color: #a04955;
  color: white;
}

.filter {
  font-size: 1rem;
}

/* page3 */

.specif {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.visual_prod {
  text-align: center;
  padding: 5rem;
}

.img_prod {
  width: 80%;
  margin-bottom: 2rem;
}
.img_prod_litle {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.img_prod_litle img {
  width: 20%;
  padding: 2rem;
}
.rate {
  margin-top: 1rem;
}

.text_prod {
  padding-top: 5rem;
  font-size: 1rem;
}

.text_prodf_h1 {
  font-family: "Oswald";

  font-weight: 600;
  font-size: 3rem;
  text-align: center;
}
.specif_price {
  font-size: 2rem;
  font-weight: bold;
}
.specif_sort img {
  margin-right: 0.5rem;
}

.specif_sort_num {
  padding: 0.5rem 1.2rem;
  border: #c4c4c4 solid 1px;
  font-size: 1rem;
}
.sort_num {
  margin-bottom: 2rem;
}

.sort_num span {
  margin-right: 0.5rem;
}
.specif_btn {
  align-items: center;
  margin: 0;
}

.specif_btn button {
  padding: 0.8rem 3rem;
  font-size: 1.6rem;
  font-weight: bold;
}
.btn {
  display: flex;
  justify-content: space-between;
}

.text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 0.5rem 10rem 5rem 10rem;
}
.grid {
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  grid-gap: 30px;
  justify-content: space-around;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 10rem;
}
.reviews {
  background-color: #333333;
  color: white;
}
.reviews_h1 {
  text-align: center;
  padding: 3rem;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 4rem;
  margin: 0;
}

.review_card {
  display: flex;
  padding: 1rem;
  background-color: white;
  color: black;
  border-radius: 20px;
  margin: 1rem;
}

.review_card_rate {
  font-family: "Open Sans";

  font-weight: bold;
  font-size: 1rem;
}
.review_card_rate p {
  margin: 0.5rem 0;
}
.review_card_text {
  padding-left: 2rem;
  width: 55%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
}

.submit {
  font-weight: 600;
  text-align: center;
}

.submit_title {
  font-size: 2rem;
  color: #a04955;
  padding-top: 5rem;
}
.submit_h1 {
  font-size: 3rem;
}

.submit span {
  font-size: 1.5rem;
}
.submit_text {
  font-size: 1rem;
}

.flex {
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
}

.form {
  font-size: 1rem;
  margin-top: 5rem;
}
.name {
  display: flex;
  width: 74%;
  margin: 0 auto;
}
.name input {
  width: 100%;
  padding: 1rem;
  margin: 1rem;
}

.review {
  width: 70%;
  padding: 1rem;
  margin: 1rem;
  height: 10rem;
}

.sub_btn {
  font-weight: 600;
  margin: 2rem;
  padding: 1rem 7rem;
}

.border_red {
  border: #a04955 solid 2px;
}
.border_black {
  border: #333333 solid 2px;
}

.social {
  display: flex;
}

.social div {
  margin-right: 2rem;
  margin-top: 1.5rem;
}

.free_shopping {
  padding-top: 2rem;
}
.free {
  padding-bottom: 1rem;
  border-bottom: #a04955 solid 1px;
  text-align: center;
}
.deliv {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.deliv_txt {
  padding: 2rem;
  width: 30%;
}

.down {
  border: #a04955 solid 1px;
}

.up {
  background-color: #c4c4c4;
  color: black;
}

#bask {
  width: 350px;
  background-color: #f1efef;
  min-height: 2rem;
  position: absolute;
  top: 100px;
  left: 70%;
  max-height: 30rem;
  z-index: 100;
  font-size: 1rem;
  overflow-y: scroll;
}
#bask button {
  margin: 1rem 10%;
  padding: 0.5rem 3rem;
}
#bask button:hover {
  background-color: #a04955;
  color: white;
  cursor: pointer;
}

.display_none {
  display: none;
}

#bag-btn {
  cursor: pointer;
}

.cost {
  font-size: 1.3rem;
  font-weight: 600;

  padding: 0.5rem;
  border-top: #333333 solid 2px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 1rem;
  position: relative;
  top: 80%;

  color: black;
}

.prod {
  background-color: white;
  margin: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bag_txt {
  padding-top: 0.5rem;
  font-size: 1rem;
}
.bag_img {
  width: 30%;
  padding: 0.5rem;
}
.bag_img img {
  width: 50%;
}
.bag_description p {
  margin: 0;
}

.bag_foot {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bag_cost {
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 2rem;
}

.bag_del {
  padding: 0;
  width: 0.8rem;
  height: 1.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #a04955;
  border: #a04955 2px solid;
  padding: 0.1rem 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
#full_cost {
  margin: 0;
  padding-left: 10%;
  font-size: 1.5rem;
  font-weight: 600;
}
