@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html{
    font-size: 10px;
}

a{
    text-decoration: none;
    color: white;
}

body{
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    background-color: #DCDCDC;
    
}

.header{
    z-index: 10;
    position: sticky;
    top:0;
    background-color: #202846;
    font-weight: 700;
    font-size: 2.4rem;
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
       
    }

    a:hover{
        color: #AEAEE2;
    }

li{
    display: inline;
    margin: 1rem;
}

.title{
    height: 140px;
    background-color: #C6C6DC;
    font-size: 4.8rem;
    color:#202846;
    font-style: italic;
    font-weight: normal;
    padding-top: 3rem;
    padding-left: 20rem;
    box-sizing: border-box;
}

.build{
    width: 80%;
    margin: 0 auto;

}

.logo{
    width: 180px;
    height: 70px;
   
    justify-content: space-evenly;
}

.location{
    height: 73px;
    background-color: #E8E8E8;
    color: rgba(0, 0, 0, 0.61);
    text-align: center;
    padding-top: 1.2rem;
    margin: 2rem;
    font-size: 2.8rem;
    box-sizing: border-box;
    

}

.card{
    height: 300px;
    background-color: #BDBDC6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin: 2rem;
}

.card__img{
    width: 35%;
    height: 80%;
    overflow: hidden;
}
.card__img img{
    height: 100%;
}

.card__content{
    width: 50%;
    height: 80%;
}

.card__content-title {
    font-weight: 700;
    font-style: italic;
    border-bottom: 3px solid white;
    font-size: 3.6rem;
    margin-bottom: 1rem;
}

.card__content-description{
    font-size: 2.2rem;
    text-align: center;
    background-color: #D7D7DD;
    padding: 2.2rem;
}

.card-star, .card-btn{
    position:absolute;
}

.card-star{
    right: 1rem;
    top: 1rem
}

.card-btn{
    bottom: 0;
    right: -40px;
    width: 200px;
    padding: 1rem 0;
    background-color: #202846;
    color: white;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    border-radius: 50px;
}

.card:hover{
    background-color: #AEAEE2;
    box-shadow: 0 0 30px rgba(0, 0, 255, 0.25);

}

.card-btn:hover{
    background-color: #EF075B;
}

.home{
    z-index: 10;
    position: fixed;
    bottom: 5rem;
    right: 1rem;
}

.cabinet{
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.cabinet__title{
    height: 140px;
    background-color: #C6C6DC;
    font-size: 4.8rem;
    color:#202846;
    font-style: italic;
    font-weight: normal;
    padding-top: 2rem;
    padding-left: 20rem;
    box-sizing: border-box;
    margin-top: 20rem;
}

.personal_card{
   
    width: 70%;
    background-color: #BDBDC6;
    padding-left: 7%;
    margin: 2rem auto;
    box-sizing: border-box;

}

.personal_card_avatar{
    display: inline-grid;
    
    
}

.personal_card_btn{
    background-color: #484A54;
    font-size: 2.4rem;
    margin-top: 2rem;
    border-radius: 50px;
    padding: 1rem 2rem;
    
    
}

.personal_card_btn:hover{
    background-color: #69749B;
    color: white;

}


.perconal_card_descr{
    display: inline-block;
    margin-left: 5rem;
    font-size: 3.6rem;
    font-style: italic;
    font-weight: 700;
    color: #353C57;
    padding: 20px;
    
    
}

span{
font-weight: 400;
}

.fio, .sex, .age, .tel{
    border-bottom: 3px solid white;
    padding: 1.5rem;
    box-sizing: border-box;
    
} 

.personal_card_btn-exit{
    background-color: #484A54;
    font-size: 2.4rem;
 
    border-radius: 50px;
    padding: 1rem 4rem;
    text-align: center;
    display: inline;
}

.contact{
    font-size: 3.2rem;
}

.contact_tel{
  
    
    box-sizing: border-box;
    color: black;
    display: flex;
}

.none{
    color: black;
    text-decoration: none;
}

.pod{
    border-bottom: 3px solid black;
    
}

.telefon{
    margin: 0 auto;
    padding-top: 4rem;
    box-sizing: border-box;
}

.contact_map{
    display: flex;
}

.map{
    border-radius: 10px;
}

.footer{
    height: 90px;
    background-color: #202846;
    font-size: 3.6rem;
    color: white;
    padding-top: 2rem;
    font-style: italic;
    padding-left: 10rem;
}