@media (max-width: 1200px) {
  .root {
    width: 960px;
    /* background-image: url(../image/bg-11.png); */
    
  }

  nav {
    font-size: 1.3rem;
  }
  .miss {
    margin-left: 3rem;
  }
  .miss_title {
    font-size: 6rem;
  }
  .text_main {
    font-size: 1.1rem;
  }
  .simple {
    margin-left: 3rem;
    font-size: 1.1rem;
    padding-left: 3rem;
  }
  .simple_text {
    width: 40%;
    padding-left: 2rem;
  }
  .title {
        font-size: 4rem;
  }
  .make {
    margin-left: 6rem;
    width: 40%;
    font-size: 3rem;
  }
  .grid {
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(4, 600px);
    gap: 2rem;
  }
  .once {
    padding-top: 17rem;
    margin-left: 3rem;
    font-size: 3rem;
  }
  .once_text {
       padding-right: 3rem;
  }
  .onceImg img{
    width: 80%;
  }
  .footet_title {
    padding: 10rem 0 0 5rem;
  }
  .footer_nav {
    width: 25%;
  
    font-size: 1.3rem;
  
    padding-left: 5rem;
    padding-top: 6rem;
  }
}








@media (max-width: 768px) {
  .root {
    width: 375px;
  }
  nav {
    font-size: 0.6rem;
  }
  .basket img{
    width: 70%;

  }
  .num{
    width: 1rem;
    height: 1rem;
    font-size: .8rem;
  }
 
  .miss {
    margin-left: 1rem;
    display: block;
  }
  .miss_title {
    font-size: 4rem;
  }
  .Text_button {
    
    padding: 1rem 4rem;
 
    border-radius: 8px;
   
    font-size: 1rem;
   
  }
  .missImg img{
    width: 100%;
  }
  .text_main {
    font-size: 1.1rem;
  }
  .simple {
    margin-left: 3rem;
    font-size: 1.1rem;
    padding-left: 3rem;
  }
  .simple_text {
    width: 40%;
    padding-left: 2rem;
  }
  .title {
        font-size: 4rem;
  }
  .make {
    margin-left: 6rem;
    width: 40%;
    font-size: 3rem;
  }
  .grid {
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(4, 600px);
    gap: 2rem;
  }
  .once {
    padding-top: 17rem;
    margin-left: 3rem;
    font-size: 3rem;
  }
  .once_text {
       padding-right: 3rem;
  }
  .onceImg img{
    width: 80%;
  }
  .footet_title {
    padding: 10rem 0 0 5rem;
  }
  .footer_nav {
    width: 25%;
  
    font-size: 1.3rem;
  
    padding-left: 5rem;
    padding-top: 6rem;
  }

}
