@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Wendy+One&display=swap");

.root_basket {
  width: 1440px;

  background-color: #fcefd2;
  margin: 0 auto;
}

.root_basket li {
  list-style: none;
}
.root_basket a {
  text-decoration: none;
}
.root_basket a:hover {
  font-weight: 700;
}
.title {
  display: flex;
  padding-left: 10rem;
}
.title_img {
  position: relative;
  top: -190px;
  right: -200px;
}
.title_h1 {
  font-size: 7rem;
}
.title_text {
  font-size: 4rem;

  font-family: "Lato";

  font-weight: 400;
  font-size: 1.2rem;
}

.background_header {
  background-image: url(../image/bg-3-1.png);
  background-repeat: no-repeat;
}
.full_cost {
  display: flex;
  justify-content: space-between;
  max-width: 20rem;
  font-family: "Lato";

  font-weight: 700;
  font-size: 1.1rem;

  line-height: 40px;

  color: #642c99;
  padding-right: 5rem;

  margin: 0 0 0 auto;
}

.full_cost_text {
  font-size: 1.3rem;
  padding-bottom: 2rem;
}

.basket_list {
  display: flex;
  font-family: "Wendy One";
  font-weight: 400;
  font-size: 3rem;
  color: #642c99;
  padding-left: 10rem;
  padding-right: 10rem;
}
.basket_line {
  border-bottom: #642c99 solid 1px;
  width: 83%;
  margin: 0 0 3rem 10rem;
}
.basket_text {
  display: flex;
  padding-top: 2rem;
}
.basket_list_img img {
  width: 115px;
}
.basket_list_name {
  padding-left: 5rem;
  min-width: 40rem;
}
.basket_list_cost {
  padding-left: 4rem;
}
.card_add {
  display: flex;

  max-height: 1.5rem;
}
.card_add span {
  margin: 0;
  padding: 0 0.8rem;
}
.cost {
  font-family: "Wendy One";

  font-weight: 400;
  font-size: 3.3rem;
}
.btn {
  display: flex;
  justify-content: end;
  margin-right: 5rem;
}
.btn-text {
  text-align: end;
  text-transform: uppercase;
  padding: 1rem 7rem;
  font-size: 1rem;
  font-family: "Lato";
  border-radius: 8px;
  color: #fbfac9;
  background-color: #642c99;
  cursor: pointer;
  margin-bottom: 10rem;
}

.footer_back {
  background-image: url(../image/bg-3-3.png);
}

.prod_cost {
  display: flex;
  font-family: "Wendy One";
  font-weight: 400;
  font-size: 3rem;
  color: #642c99;
}

.thank {
  font-family: "Wendy One";
  font-weight: 400;
  font-size: 10rem;
  color: #642c99;
  text-align: center;
  padding-bottom: 10rem;
}
