@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Wendy+One&display=swap");

.root_miss {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.root_miss li {
  list-style: none;
}
.root_miss a {
  text-decoration: none;
}
.root_miss a:hover {
  font-weight: 700;
}
header {
  background-color: #fae0cf;
}
/* 
nav {
  display: flex;
  justify-content: space-between;
  font-family: "Lato";
  font-weight: 400;
  font-size: 1.8rem;
}

.menu {
  width: 40%;
  padding-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.menu a {
  color: #642c99;
}

.basket {
  padding: 3rem;
}
.num {
  background-color: #fcefd2;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  position: relative;
  top: -80%;
  left: 65%;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 700;
} */
.line{
  
  margin: 0 auto;
}
.ring {
  position: relative;
  top: -7rem;
  right: -70rem;
}

.cake1 {
  position: relative;
  top: -8rem;
  right: 4rem;
}
.cake2 {
  position: relative;
  top: -3rem;
  right: -45rem;
}
.title{
 background-color: #fae0cf;
}
.title_h1 {
  font-size: 8rem;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 5rem;
}
.title_text {
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
  font-family: "Lato";
  width: 60%;
  font-weight: 400;

  padding-bottom: 5rem;
}
.btn {
  display: flex;
  justify-content: center;
}
title button {
  width: 100%;
}




.composition{
  background-image: url(../image/bg-2-2.png);
 
  height: 60rem;
  background-repeat: no-repeat;
  font-family: 'Lato';
background-color: #f7cdbf;
font-weight: 700;
font-size: 1.2rem;
color: #642C99;


}

.composition_ring {
  position: absolute;
  left: 29%;
  
 
}

.composition_cake{

  display: flex;
  flex-direction: column;
}

.cake_img1 {
 margin: 0 auto;
z-index: 100;
}
.cake_img2 {
  margin: 0 auto;
  z-index: 100;
}
.cake_img3 {
  margin: 0 auto;
  z-index: 100;
}

.composition_text{
  width: 25%;
}

.composition_block1{
  position: relative;
  top: -22rem;
  right: -8rem;
}

.composition_block2{
  position: relative;
  top: -28rem;
  right: -61rem;
}

.composition_block3{
  position: relative;
  top: -22rem;
  right: -28rem;
}

.main_text{
  background-color: #f7cdbf;
}
.mini_cov{
  position: relative;
  top: 8.35rem;
  right: -57.07rem;
  
}

.mini_cake{
  position: relative;
  top: -26.5rem;
  right: -34rem;
}

footer {
  display: flex;
  font-family: "Lato";

  font-weight: 700;
  color: #fdefd1;
  background-image: url(../image/bg-2-3.png);
  background-repeat: no-repeat;
  padding-top: 10rem;
}

.footet_title {
  font-family: "Wendy One";
  font-style: normal;
  font-weight: 400;
  padding: 10rem 0 0 10rem;
  width: 10%;
}
.footet_title a {
  color: #fdefd1;
  font-size: 2.2rem;
}
.footer_nav {
  width: 25%;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;

  padding-left: 10rem;
  padding-top: 6rem;
}
.footer_nav li {
  padding-top: 2rem;
}

.footer_nav a {
  color: #fdefd1;
}
.footer_form {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;

  padding-top: 10rem;
}
.footer_form button {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  padding: 0.7rem 2.5rem;
  margin-left: 2rem;
  color: #642c99;
  border-radius: 8px;
  text-transform: uppercase;
}

#email {
  border: 2px solid #fdefd1;
  border-radius: 8px;
  margin-top: 3rem;
  background-color: #5d3394;
  font-size: 1.3rem;
  color: #fdefd1;

  padding: 0.8rem 7rem 0.8rem 2rem;
}

#email::placeholder {
  color: #fdefd1;
}

.footer_form button:hover {
  font-weight: 700;
  cursor: pointer;
}

.coppiring {
  background-color: #5d3394;
  padding-inline-start: 80px;
}
ul {
  list-style: none;
  margin: 0;
}

