@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Wendy+One&display=swap");

body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  /* background-image: url(../image/bg-1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat; */
 
}

.root {
  width: 1440px;
  background-image: url(../image/bg-1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
  min-height:6500px; ;
  
}

.root li {
  list-style: none;
}
.root a {
  text-decoration: none;
}
.root a:hover {
  font-weight: 700;
}

.minus:hover {
  cursor: pointer;
}
.plus:hover{
  cursor: pointer;
}
nav {
  background-color: #f7cfda;
  display: flex;
  justify-content: space-between;
  font-family: "Lato";
  font-weight: 400;
  font-size: 1.8rem;
}

.menu {
  width: 40%;
  padding-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.menu a {
  color: #642c99;
}

.basket {
  padding: 3rem;
}
.num {
  background-color: #fcefd2;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  position: relative;
  top: -80%;
  left: 65%;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 700;
}
.line{
  border-bottom: #642c99 solid 1px;
  
  margin: 0 0 3rem 10rem;

  
} 
.miss {
  margin-left: 10rem;

  color: #642c99;
  display: flex;
  font-family: "Lato";
  font-weight: 400;
}
.miss_bk{
  background-image: url(../image/bg-1-1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.miss_title {
  font-size: 8rem;
}

.title {
  color: #642c99;
  font-family: "Wendy One";
  font-size: 7rem;
  margin: 0;
}

.text_title {
  font-family: "Wendy One";
  margin: 0;
}

.text_main {
  padding: 3rem 0;
  font-size: 1.6rem;
  color: #642c99;
  font-family: "Lato";
  font-weight: 400;
}

.Text_button {
  background-color: #642c99;
  padding: 1rem 5rem;
  color: #fbfac9;
  border-radius: 8px;
  border: #642c99;
  font-size: 1.6rem;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
.Text_button:hover {
  color: burlywood;
  cursor: pointer;
}

.simple {
  padding-top: 5rem;
  padding-left: 10rem;
  padding-bottom: 20rem;
  /* margin-top: 5rem;
  margin-left: 10rem; */
  font-size: 1.6rem;
  display: flex;
}
.simple_bk{
  background-image: url(../image/bg-1-2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
/* 
  background-color: #fbfaca; */
}
.simple_text {
  width: 50%;
  padding-left: 10rem;
}
.simpleImg {
  display: flex;
  flex-direction: column;
}

.anim {
  animation: cake 1s linear;
}
.cake_up {
  position: relative;
  left: -2rem;
}

.cake_down {
  width: 90%;
}

.make {
 
  padding: 5rem 0 8rem 0;
  margin-left: 10rem;
  color: #642c99;
  width: 40%;
  font-size: 5rem;
}
.make_bk{
  background-color: #effbe2;
}

.grid {
  background-color: #effbe2;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(4, 600px);
  gap: 5rem;
  padding: 1rem;

  justify-content: space-around;

  justify-items: center;
}

.once {
  padding-top: 20rem;
  margin-left: 10rem;
  font-size: 5rem;
  display: flex;
}
.once_bk{
  /* background-color: #5d3394;
  background-image: url(../image/bg-1-3.png);
  background-repeat: no-repeat;
  background-size: 100% 100%; */
}


.once_text {
  width: 50%;
  padding-right: 5rem;
}
.onceImg {
  padding-top: 10rem;
}

footer {
  background-color: #5d3394;
  display: flex;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  color: #fdefd1;
}

.footet_title {
  font-family: "Wendy One";
  font-style: normal;
  font-weight: 400;
  padding: 10rem 0 0 10rem;
  width: 10%;
}
.footet_title a {
  color: #fdefd1;
  font-size: 2.2rem;
}
.footer_nav {
  width: 25%;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;

  padding-left: 10rem;
  padding-top: 6rem;
}
.footer_nav li {
  padding-top: 2rem;
}

.footer_nav a {
  color: #fdefd1;
}
.footer_form {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;

  padding-top: 10rem;
}
.footer_form button {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  padding: 0.7rem 2.5rem;
  margin-left: 2rem;
  color: #642c99;
  border-radius: 8px;
  text-transform: uppercase;
}

#email {
  border: 2px solid #fdefd1;
  border-radius: 8px;
  margin-top: 3rem;
  background-color: #5d3394;
  font-size: 1.3rem;
  color: #fdefd1;

  padding: 0.8rem 7rem 0.8rem 2rem;
}

#email::placeholder {
  color: #fdefd1;
}

.footer_form button:hover {
  font-weight: 700;
  cursor: pointer;
}
.coppiring_bk{
  /* background-color: #5d3394; */
  display: flex;
  padding-top: 3rem;
  justify-content: center;
}
.coppiring {
  margin: 0;
  display: flex;
  color: #fdefd1;
  font-size: 1.3rem;
  justify-content: center;
  /* padding-top: 5rem; */
  font-family: "Lato";

  font-weight: 400;
  padding-bottom: 4rem;
}
.coppiring_text{
  color: #fdefd1;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.coppiring a {
  color: #fdefd1;
  padding-left: 4rem;

}









/*------ grid cards-------- */
.card {
  width: 400px;
  height: 500px;
  min-height: 100%;
  text-align: center;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card_img {
  padding: 2rem 0;
}
.card_title {
  font-family: "Wendy One";

  font-weight: 400;
  font-size: 3.2rem;

  color: #642c99;
}
.card_text {
  font-family: "Lato";
  padding: 2rem;
  font-weight: 400;
  font-size: 1.1rem;

  color: #642c99;
}
.card_shop {
  display: flex;
  justify-content: center;
}
.card_add {
  font-size: 1.1rem;
  font-family: "Lato";
  border: 2px solid #642c99;
  border-radius: 8px;

  font-weight: 400;
  font-size: 16px;

  padding: 0.5rem 0.5rem;
}
.card_add span {
  margin: 1rem 0.5rem;
  
  font-size: 1.1rem;
  color: #642c99;
  font-weight: 900;
}

.card_shop button {
  padding: 0.5rem 2.5rem;
  background: #642c99;
  border-radius: 8px;
  text-transform: uppercase;
  color: #fbfac9;
  font-size: 1.1rem;
  margin-left: 2rem;
  font-family: "Lato";
  font-weight: 400;
}
.card_shop button:hover {
  color: burlywood;
  cursor: pointer;
}

/*------ bag-------- */
.hide{
  display: none;
}
.bag {
  
  background-color: #fcefd2;
  width: 27rem;
  z-index: 100;
  position: absolute;
  top: 7rem;
  right: 18rem;
  border-radius: 8px;
  padding: 2rem;
}
.bag_line{
  border-bottom: #642C99 solid 1px;
}
.bag_title {
  display: flex;
  justify-content: space-between;
  font-family: 'Wendy One';
font-weight: 400;
font-size: 2.1rem;
color: #642C99;
padding-bottom: 2rem;

}


.flex{
  display: flex;

}
.bag_intentory_list {
  display: flex;
  justify-content: space-between;
  font-family: 'Lato';

font-weight: 700;
font-size: 1.2rem;
padding: 0.5rem 0;
color: #642C99;
}
.bag_intentory_list-img {
  width: 3rem;
  padding-right: 1rem;
 
}
.bag_inventory_list-name {
  margin: auto 0;
  padding-right: 0.5rem;
  font-size: 1rem;
}
.bag_inventory_list-quantity {
  margin: auto 0;
  text-align: center;
  font-size: 1rem;
}
.bag_inventory_list-cost {
  margin: auto 0;
}
.bag_text {
  font-family: 'Lato';
font-weight: 700;
font-size: 1.2rem;
color: #642C99;
}
.bag_cost {
  font-family: 'Lato';
font-weight: 700;
font-size: 1.2rem;
color: #642C99;
}
.bag_full_cost{
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 0;
}
.bag_button {
  display: block;
 width: 100%;
  background-color: #642c99;
  padding: 1rem 5rem;
  color: #fbfac9;
  border-radius: 8px;
  border: #642c99;
  font-size: 1rem;
  font-family: "Lato";
 
  font-weight: 400;
  text-transform: uppercase;
}
.bag_button:hover {
  color: burlywood;
  cursor: pointer;
}
.bag_cart{
  padding-top: 2rem;
  text-align: center;
}
.bag_cart a{
  font-family: 'Lato';
text-decoration: none;
font-weight: 400;
font-size: 16px;


text-transform: uppercase;

color: #642C99
}
.bag_cart a:hover{
  font-weight: 700;
}

