@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,600;0,700;1,600;1,700&family=Volkhov&display=swap');

html{
   font-size: 10px; 
}


body{
    font-family: 'Rosario', sans-serif;
    font-family: 'Volkhov', serif;
    margin: 0;
    
}

main{
    max-width: 1620px;
    margin: 0 auto;
}

.g_img {
    max-width:100%;
    height:auto;
}



.header{
    display: flex;
    height: 14vh;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 3.6rem;
    position: sticky;
    z-index: 10;
    top: 0;

}



.header_menu{
    background-color: black;
    width: 100%;
}


.menu{
    display: flex;
    list-style-type: none;
    justify-content: end;
}

.menu>li>a{
    text-decoration: none;
    color: #FFFCFC;
    margin: 0 2rem;
}


.menu>li>a:hover{
    color: #DC7633 ;
}

.gallery{
    padding-top: 12rem;
    width: 100%;
    min-height: 88vh;
    display: flex;
    box-sizing: border-box;
 
}



[class*="card"] {
    max-width: 23%;
}


[class*="gallery_image"] {
    
    height:auto;
}



.gallery_image1{
    animation: anim1 1s linear ;
    position: relative;
    top: 4%;
    left: 110%;
}


.gallery_image2{
    animation: anim2 1s linear ;
    position: relative;
    top: 4%;
    left: 120%;
}


.gallery_image3{
    animation: anim3 2s linear ;
    position: relative;
    top: 10%;
    left: -200%;
}

.gallery_image4{
    animation: anim4 2s linear ;
    position: relative;
    top: 10%;
    left: 35%;
}



@keyframes anim1{
    from,
    to{
        top: 4%;
        left: -20vw;
    }

    100%{
        top: 4%;
        left: 110%;
    }

}

@keyframes anim2{
    from,
    to{
        top: 4%;
        left: 70vw;
    }

    100%{
        top: 4%;
        left: 120%;
    }

}

@keyframes anim3{
    from,
    to{
        top: 10%;
        left: -120vw;
    }

    100%{
        top: 10%;
        left: -200%;
    }

}

@keyframes anim4{
    from,
    to{
        top: 10%;
        left: 120vw;
    }

    100%{
        top: 10%;
        left: 35%;
    }

}

.services{
    padding-top: 13rem;   
    width: 100%;
    min-height: 88vh;
    display: flex;
    
}

.services_text{
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}




.services_serv{
   display: flex;
   margin: 0;
   position: relative;
   font-family: 'Rosario';
   font-style: italic;
   font-weight: 700;
   font-size: 4.8rem;
   max-width: 50%;
}

.serv-img{
    max-width: 11vw;
}




.services_cicl1{
    animation: anim-cicl1 5s linear infinite;    
    position: relative;
    top: 10%;
    left: 20%;
    
}



.services_cicl2{
    animation: anim-cicl2 5s linear infinite;
    position: relative;
    top: 10%;
    left: 35%;
}

.services_cicl3{
    animation: anim-cicl3 5s linear infinite;
    position: relative;
    top: 50%;
    left: -33%;
}

.services_cicl4{
    animation: anim-cicl4 5s linear infinite;
    position: relative;
    top: 50%;
    left: -17%;
    display: inline;
}


@keyframes anim-cicl1{
    0%{transform: translateX(0) translateY(0) ; }
    25%{transform: translateX(170%) translateY(0) ;}
    50%{transform: translateX(170%) translateY(40%) ;}
    75%{transform: translateX(0%) translateY(40%) ;}
    100%{transform: translateX(0%) translateY(0%) ;}

       
}

@keyframes anim-cicl2{
    0%{transform: translateX(0) translateY(0) ; }
    25%{transform: translateX(0) translateY(40%) ;}
    50%{transform: translateX(-150%) translateY(40%) ;}
    75%{transform: translateX(-150%) translateY(0%) ;}
    100%{transform: translateX(0%) translateY(0%) ;}

       
}

@keyframes anim-cicl3{
    0%{transform: translateX(0) translateY(0) ; }
    25%{transform: translateX(0) translateY(-40%) ;}
    50%{transform: translateX(160%) translateY(-40%) ;}
    75%{transform: translateX(160%) translateY(0%) ;}
    100%{transform: translateX(0%) translateY(0%) ;}

       
}

@keyframes anim-cicl4{
    0%{transform: translateX(0) translateY(0) ; }
    25%{transform: translateX(-100%) translateY(0) ;}
    50%{transform: translateX(-100%) translateY(-40%) ;}
    75%{transform: translateX(0) translateY(-40%) ;}
    100%{transform: translateX(0%) translateY(0%) ;}

       
}

.team_foto_title{
    position: absolute;
    left: 0;
    top: 80%;
    width: 80%;
    height: 20%;
    display: none;
    flex-direction: column;
    text-align: center;
    padding-top: 1.7rem;
    box-sizing: border-box;
    background: rgba(163, 83, 10, .7);
    border-radius: 0 0 40px 40px;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 4.8rem;
    color: white;
}

.team_foto:hover .team_foto_title{
    display: flex;
}

.team_command:hover .team_foto{
    filter: brightness(0.5);
}

.team_foto:hover{
    filter: brightness(1) !important;
}

.team_foto{
    position: relative;

}


.team{
    width: 100%;
    min-height: 88vh;
}

.team_title{
font-family: 'Rosario';
font-style: normal;
font-weight: 700;
font-size: 9.6rem;
padding-top: 15rem;
align-items: center;
text-align: center;
}

[class*="team"]>img {
    max-width: 80%;
}



.team_command{
    display: flex;
    justify-content: space-evenly;
    padding-top: 5rem;
    
    
}




.contact{
    width: 100%;
    min-height: 88vh;
}

a{
    text-decoration: none;
    color: black;
    
}


.contact_title{
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    
    width: 90%;
    text-align: center;
    font-style: normal;
    margin-bottom: 3rem;
}

.contact_title-open{
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 3.3rem;

    text-align: center;
    font-style: normal;
    margin-bottom: 3rem;
}


.contact_table{
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    border: 20px silid #E5E5E5;
   

}

.contact-flex{
    display: flex;
    padding-top: 12rem;
}

.tabl{
    display: flex;
    border: none;
    
}

.mass{
    width: 50%;
    margin: 5rem;
}



.contact_footer{
    display: flex;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 600;
    font-size: 3rem;
    justify-content: space-evenly;
    padding-top: 3rem;
    text-align: center;
}

.soc-flex{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 25%;
}




input[type=text]{
    border: 2rem solid #E5E5E5;
    font-size: 3.6rem;
    width: 90%;
    max-width: 100%;   
}

input[type=email]{
    border: 2rem solid #E5E5E5;
    font-size: 3.6rem;
    width: 20.4vw;
    max-width: 100%;
}



textarea{
    width: 50vw;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2rem solid #E5E5E5;
    font-size: 3.6rem;
    resize: none;
    max-width: 100%;
}

@media screen and (max-width:990px) {

    
}