@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

body{
    font-family: 'Work Sans', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
}

.card{
    
    background: #FFB084;
    width: 70%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 3rem;
    display: grid;
    gap: 1.7rem;
    grid-template-columns: 1.3fr 1fr 1fr;  
}

.name{
    background: #FFFFFF;
    box-shadow: 7px 7px 0px #000000;
    border-radius: 20px;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    grid-row: 1/5;   
}

.name_title{
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 1rem;
}

.name_text{
    padding-bottom: 1rem;
}

.name_foto{
    padding-bottom: 1rem;
    text-align: center;
}

.name_span{
    font-weight: 600;
}

.quation{
    grid-column-start: 1;
    grid-row-start: 5;
    text-align: center;
    padding: 1rem 2rem;
    background: #FFFFFF;
    box-shadow: 7px 7px 0px #000000;
    border-radius: 20px;
}

.quation_text{
    font-weight: 700;
    font-size: 1.4rem;
}

.bio{
    background: #FFFFFF;
    grid-column: 2/4;
    padding: 1rem 2rem;
    align-self: start;
    box-shadow: 7px 7px 0px #000000;
    border-radius: 20px;
}

.title{
    font-weight: 700;
    font-size: 1.4rem;
}

.text{
    font-weight: 400;
    font-size: 1.4rem
}

.goals{
    background: #FFFFFF;
    align-self: start;
    padding: 1rem 2rem;
    grid-column: 2/2;
    box-shadow: 7px 7px 0px #29A71E;
    border-radius: 20px;
}
.goals .title{
    color: #29A71E;
}

.dream{
    background: #FFFFFF;
    grid-column-start: 2;
    grid-row: 3/6;
    padding: 1rem 2rem;
    box-shadow: 7px 7px 0px #3675B0;
    border-radius: 20px;
}

.frust{
    background: #FFFFFF;
    grid-column-start: 3;
    grid-row-start: 2;
    padding: 1rem 2rem;
    grid-row: 2/4;
    box-shadow: 7px 7px 0px #E13535;
    border-radius: 20px;
}

.personality{
    background: #FFFFFF;
    align-self: start;
    grid-row: 4/6;
    grid-column-start: 3;
    padding: 1rem 2rem;
    box-shadow: 7px 7px 0px #000000;
    border-radius: 20px;
}
